.collapse-container {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-inline: 10%;
  border: none;
}

.collapse-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #4caf50;
  margin-bottom: 10px;
}

.transaction-list {
  list-style-type: none;
  padding: 0;
  background-color: #4caf50;
  margin: 0;
}

.transaction-summary {
  display: flex;
  justify-content: space-between;
  background-color: #4caf50;
  color: white;
  border-radius: 6px 6px 6px 6px;
  padding-left: 2%;
}

.transaction-item:last-child {
  border-bottom: none;
}
.transaction-item {
  padding: 0 0 10px 0;
  background-color: white;
}
.open {
  border-radius: 6px 6px 0 0;
}
.contanerP {
  display: flex;
  justify-content: space-between;
  margin-inline: 10%;
}
.transaction-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #4caf50;
  margin: 0;
  padding: 10px 0 0 2%;
  color: white;
  font-size: 17px;
}
.open-details {
  border-radius: 0 0 6px 6px;
}
.transaction-details p {
  margin: 15px 0 15px 0;
}
.transaction-type {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.type {
  width: 30%;
  text-align: left;
}
.transaction-category {
  position: relative;
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.category-container {
  display: inline-block;
  position: relative;
}
.fa-pencil {
  color: white;
  font-size: 17px;
  padding-left: 10%;
}
.category {
  width: 30%;
  text-align: left;
}
.transaction-note {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.note {
  display: flex;
  width: 30%;
  text-align: left;
}
.fa-solid {
  position: relative;
  right: 2%;
}
.fa-chevron-up {
  color: white;
}
.fa-chevron-down {
  color: white;
}
