.category {
  font-size: 17px;

  border: none;

  background-color: #00bc77;
  color: white;
  outline: none;
}
.container-category {
  position: relative;
  bottom: 46px;
  left: 10%;
  width: 9%;
}
